
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #f9f9f9;
}

.container {
    width: 800px;
    border: 1px solid #333;
    padding: 30px;
    background-color: white;
}

h2 {
    font-size: 18px;
    color: #444;
    margin-bottom: 25px;
}


.contact-form {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}

.row {
    display: flex;
    gap: 20px; 
}


input, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
}

.flex-1 {
    flex: 1; 
}

.flex-full {
    flex: 1; 
}

textarea {
    height: 200px;
    resize: none;
}

.footer-row {
    justify-content: space-between; 
    align-items: center;
    margin-top: 10px;
}

button {
    background-color: #87cefa;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #70b8e0;
}

span {
    color: #888;
    font-size: 13px;
}